@import url(./variables.css);

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: #f5f4f4; */
}

body,
html {
  background-color: #f5f4f4;
}
