/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Grape+Nuts&family=Shadows+Into+Light&display=swap');

:root {
  /* Colors */
  --gray-black: #24252a;
  --dark-white: #edf0f1;
  /* Intentions */

  /* Typograpghy */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --h6: 1rem;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
  /* z-index: 5; */
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.35rem;
}
h6 {
  font-size: 1.2rem;
}
p,
li {
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: 'Gloria Hallelujah', cursive;
}
